# Arquivos e pastas de IDEs
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
.docs


# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build e dependências
build/
target/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos temporários e de sistema
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Outros arquivos irrelevantes
HELP.md

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
